In [75]:
# Initial imports
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

#  Import and read the file.
import pandas as pd 
supply_df = pd.read_csv("./CAISO-ALL-SUPPLY-DATA.csv")
supply_df.head()

,Renewables,Natural gas,Large hydro,Imports,Batteries,Nuclear,Coal,Other,Date,Time,DateTime,Unix Timestamp
0,2005.0,8736.0,3428.0,7108.0,-8.0,1616.0,-6.0,0.0,4/10/2018,00:00:00,2018-04-10 00:00:00,1.523318e+09
1,2005.0,8722.0,3425.0,7029.0,1.0,1618.0,-6.0,0.0,4/10/2018,00:05:00,2018-04-10 00:05:00,1.523319e+09
2,2048.0,8739.0,3464.0,6873.0,6.0,1619.0,-6.0,0.0,4/10/2018,00:10:00,2018-04-10 00:10:00,1.523319e+09
3,1979.0,8696.0,3470.0,6744.0,-14.0,1619.0,-6.0,0.0,4/10/2018,00:15:00,2018-04-10 00:15:00,1.523319e+09
4,1980.0,8605.0,3454.0,6757.0,-38.0,1616.0,-6.0,0.0,4/10/2018,00:20:00,2018-04-10 00:20:00,1.523320e+09

In [76]:
supply_df= supply_df.drop(['Renewables', 'Batteries', 'Large hydro', 'Imports', 'Other', 'Nuclear', 'Coal', 'Date', 'Time', 'DateTime'],1)
supply_df.head()

   Natural gas  Unix Timestamp
0       8736.0    1.523318e+09
1       8722.0    1.523319e+09
2       8739.0    1.523319e+09
3       8696.0    1.523319e+09
4       8605.0    1.523320e+09

In [77]:
# Create our features
X = supply_df.drop("Natural gas", axis = 1)

# Create our target
y = supply_df.loc[:, 'Natural gas'].copy()

In [78]:
X.describe()

       Unix Timestamp
count    4.129560e+05
mean     1.585580e+09
std      3.604283e+07
min      1.523318e+09
25%      1.554382e+09
50%      1.585441e+09
75%      1.616675e+09
max      1.648166e+09

In [79]:
supply_df[supply_df['Natural gas'].isna()]

        Natural gas  Unix Timestamp
76880           NaN    1.546474e+09
76881           NaN    1.546474e+09
76882           NaN    1.546474e+09
76883           NaN    1.546474e+09
76884           NaN    1.546475e+09
...             ...             ...
409821          NaN    1.647225e+09
409822          NaN    1.647226e+09
409823          NaN    1.647226e+09
409824          NaN    1.647226e+09
409825          NaN    1.647226e+09

[360 rows x 2 columns]

In [80]:
supply_df.dropna()

        Natural gas  Unix Timestamp
0            8736.0    1.523318e+09
1            8722.0    1.523319e+09
2            8739.0    1.523319e+09
3            8696.0    1.523319e+09
4            8605.0    1.523320e+09
...             ...             ...
412951       7779.0    1.648165e+09
412952       7777.0    1.648165e+09
412953       7703.0    1.648166e+09
412954       7665.0    1.648166e+09
412955       7588.0    1.648166e+09

[412596 rows x 2 columns]

In [81]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [82]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [83]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [89]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units=80, activation="sigmoid", input_dim = number_input_features))

nn.add(tf.keras.layers.Dense(units=80, activation="sigmoid", input_dim = number_input_features))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                160

 dense_7 (Dense)             (None, 80)                6480

 dense_8 (Dense)             (None, 1)                 81

=================================================================
Total params: 6,721
Trainable params: 6,721
Non-trainable params: 0
_________________________________________________________________

In [90]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=4)

Epoch 1/4
9679/9679 [==============================] - 13s 1ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 2/4
9679/9679 [==============================] - 13s 1ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 3/4
9679/9679 [==============================] - 14s 1ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 4/4
4422/9679 [============>.................] - ETA: 7s - loss: nan - accuracy: 0.0000e+00

In [88]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

3227/3227 - 2s - loss: nan - accuracy: 0.0000e+00 - 2s/epoch - 733us/step
Loss: nan, Accuracy: 0.0

In [39]:
X_new = "predicted demands and time"
Y_new = nn.predict(X_new)

IndexError: list index out of range