In [135]:
# Initial imports
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

#  Import and read the file.
import pandas as pd 
supply_df = pd.read_csv("./CAISO-ALL-SUPPLY-DATA.csv")
supply_df.head()

,Renewables,Natural gas,Large hydro,Imports,Batteries,Nuclear,Coal,Other,Date,Time,DateTime,Unix Timestamp
0,2005.0,8736.0,3428.0,7108.0,-8.0,1616.0,-6.0,0.0,4/10/2018,00:00:00,2018-04-10 00:00:00,1.523318e+09
1,2005.0,8722.0,3425.0,7029.0,1.0,1618.0,-6.0,0.0,4/10/2018,00:05:00,2018-04-10 00:05:00,1.523319e+09
2,2048.0,8739.0,3464.0,6873.0,6.0,1619.0,-6.0,0.0,4/10/2018,00:10:00,2018-04-10 00:10:00,1.523319e+09
3,1979.0,8696.0,3470.0,6744.0,-14.0,1619.0,-6.0,0.0,4/10/2018,00:15:00,2018-04-10 00:15:00,1.523319e+09
4,1980.0,8605.0,3454.0,6757.0,-38.0,1616.0,-6.0,0.0,4/10/2018,00:20:00,2018-04-10 00:20:00,1.523320e+09

In [136]:
supply_df= supply_df.drop(['Renewables', 'Batteries', 'Large hydro', 'Imports', 'Other', 'Nuclear', 'Coal', 'DateTime', 'Unix Timestamp'],1)
supply_df.head()

   Natural gas       Date      Time
0       8736.0  4/10/2018  00:00:00
1       8722.0  4/10/2018  00:05:00
2       8739.0  4/10/2018  00:10:00
3       8696.0  4/10/2018  00:15:00
4       8605.0  4/10/2018  00:20:00

In [137]:
supply_df['Date'] = pd.to_datetime(supply_df['Date'])

In [138]:
def fun(datetimething):
     return datetimething.timetuple().tm_yday

In [139]:
supply_df['Date'] = supply_df['Date'].apply(fun)
supply_df.head()

   Natural gas  Date      Time
0       8736.0   100  00:00:00
1       8722.0   100  00:05:00
2       8739.0   100  00:10:00
3       8696.0   100  00:15:00
4       8605.0   100  00:20:00

In [141]:
supply_df.dtypes

Natural gas    float64
Date             int64
Time            object
dtype: object

In [149]:
for X in "Time"
    supply_df['Time'].split(":")

AttributeError: 'Series' object has no attribute 'split'

In [142]:
# Create our features
X = supply_df.drop("Natural gas", axis = 1)

# Create our target
y = supply_df.loc[:, 'Natural gas'].copy()

In [143]:
X.describe()

                Date
count  412956.000000
mean      184.058229
std       105.731857
min         1.000000
25%        93.000000
50%       185.000000
75%       276.000000
max       366.000000

In [144]:
supply_df[supply_df['Natural gas'].isna()]

        Natural gas  Date      Time
76880           NaN     3  00:00:00
76881           NaN     3  00:05:00
76882           NaN     3  00:10:00
76883           NaN     3  00:15:00
76884           NaN     3  00:20:00
...             ...   ...       ...
409821          NaN    73  02:35:00
409822          NaN    73  02:40:00
409823          NaN    73  02:45:00
409824          NaN    73  02:50:00
409825          NaN    73  02:55:00

[360 rows x 3 columns]

In [145]:
supply_df.dropna()

        Natural gas  Date      Time
0            8736.0   100  00:00:00
1            8722.0   100  00:05:00
2            8739.0   100  00:10:00
3            8696.0   100  00:15:00
4            8605.0   100  00:20:00
...             ...   ...       ...
412951       7779.0    83  23:35:00
412952       7777.0    83  23:40:00
412953       7703.0    83  23:45:00
412954       7665.0    83  23:50:00
412955       7588.0    83  23:55:00

[412596 rows x 3 columns]

In [146]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [147]:
print(X_train)

        Date      Time
162368   299  20:35:00
305928    71  08:50:00
218790   131  18:25:00
77067      3  15:35:00
292037    23  03:15:00
...      ...       ...
256696   265  09:15:00
104758    99  19:20:00
235415   189  11:50:00
16854    159  04:55:00
367301   290  11:15:00

[309717 rows x 2 columns]

In [112]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [113]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units=80, activation="sigmoid", input_dim = number_input_features))

nn.add(tf.keras.layers.Dense(units=80, activation="sigmoid", input_dim = number_input_features))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 80)                160

 dense_10 (Dense)            (None, 80)                6480

 dense_11 (Dense)            (None, 1)                 81

=================================================================
Total params: 6,721
Trainable params: 6,721
Non-trainable params: 0
_________________________________________________________________

In [114]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [115]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=4)

Epoch 1/4
9679/9679 [==============================] - 13s 1ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 2/4
9679/9679 [==============================] - 12s 1ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 3/4
9679/9679 [==============================] - 13s 1ms/step - loss: nan - accuracy: 0.0000e+00
Epoch 4/4
9679/9679 [==============================] - 13s 1ms/step - loss: nan - accuracy: 0.0000e+00

In [88]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

3227/3227 - 2s - loss: nan - accuracy: 0.0000e+00 - 2s/epoch - 733us/step
Loss: nan, Accuracy: 0.0

In [39]:
X_new = "predicted demands and time"
Y_new = nn.predict(X_new)

IndexError: list index out of range