In [130]:
import pandas as pd
import numpy as nb
import datetime

In [131]:
#Create Filepath and read csv
filepath = r"C:/Users/Elissa/Desktop/CAISO-ALL-SUPPLY-DATA1.csv"

In [132]:
#Read the csv file 
supply_df = pd.read_csv(filepath)
print(supply_df.head())

x = supply_df.loc[(supply_df['Date'] == '12/31/2018') & (supply_df['Time'] == '23:55:00')]
print(x.index)

y = supply_df.loc[(supply_df['Date'] == '12/31/2019') & (supply_df['Time'] == '23:55:00')]
print(y.index)

z = supply_df.loc[(supply_df['Date'] == '12/31/2020') & (supply_df['Time'] == '23:55:00')]
print(z.index)

   Renewables  Natural gas  Large hydro  Imports  Batteries  Nuclear  Coal  \
0      2005.0       8736.0       3428.0   7108.0       -8.0   1616.0  -6.0
1      2005.0       8722.0       3425.0   7029.0        1.0   1618.0  -6.0
2      2048.0       8739.0       3464.0   6873.0        6.0   1619.0  -6.0
3      1979.0       8696.0       3470.0   6744.0      -14.0   1619.0  -6.0
4      1980.0       8605.0       3454.0   6757.0      -38.0   1616.0  -6.0

   Other       Date     Time        DateTime  Unix Timestamp
0    0.0  4/10/2018  0:00:00  4/10/2018 0:00      1523318400
1    0.0  4/10/2018  0:05:00  4/10/2018 0:05      1523318700
2    0.0  4/10/2018  0:10:00  4/10/2018 0:10      1523319000
3    0.0  4/10/2018  0:15:00  4/10/2018 0:15      1523319300
4    0.0  4/10/2018  0:20:00  4/10/2018 0:20      1523319600
Int64Index([76408], dtype='int64')
Int64Index([181416], dtype='int64')
Int64Index([285661], dtype='int64')

In [133]:
supply_df= supply_df.drop(["DateTime"],1)

supply_df['Date'] = pd.to_datetime(supply_df['Date'])
#def fun(datetimething):
     #return datetimething.timetuple().tm_yday
#supply_df['Date'] = supply_df['Date'].apply(fun)
#supply_df.head(1300)

baby_df = supply_df['Time'].str.split(":", expand=True)
print(baby_df)

baby_df = baby_df.rename(columns={baby_df.columns[0]: 'Hours'})
baby_df = baby_df.rename(columns={baby_df.columns[1]: 'Minutes'})
baby_df['Year'] = supply_df['Date'].dt.year
baby_df= baby_df.drop([2],1)

baby_df.head()

         0   1   2
0        0  00  00
1        0  05  00
2        0  10  00
3        0  15  00
4        0  20  00
...     ..  ..  ..
412951  23  35  00
412952  23  40  00
412953  23  45  00
412954  23  50  00
412955  23  55  00

[412956 rows x 3 columns]

  Hours Minutes  Year
0     0      00  2018
1     0      05  2018
2     0      10  2018
3     0      15  2018
4     0      20  2018

In [139]:

baby_df['DemandMW'] = []



for xy in baby_df['DemandMW']:
    if (baby_df['Year'] == 2018) & ((baby_df['Hours']<=6) & (baby_df['Hours']>=22)):
        xy = 6.2356    
    elseif (baby_df['Year'] == 2019) & ((baby_df['Hours']<=6) & (baby_df['Hours']>=22)),
        xy = 8.2818
    elseif (baby_df['Year'] == 2018) & ((baby_df['Hours']<=6) & (baby_df['Hours']>=22)),
        xy = 9.9174
    else:
        xy = 0

IndentationError: unexpected indent (<ipython-input-139-ce313935f8d4>, line 9)

In [ ]:
supply_df

In [ ]:
df['<= 53'] = df['mynumbers'].apply(lambda x: 'True' if x <= 53 else 'False')
 
print (df)

In [ ]:
#supply_df.loc[0:76408,('DemandMW')]=14.24 
#supply_df.loc[76409:181416,('DemandMW')]=18.92
#supply_df.loc[181417:285661,('DemandMW')]=22.65

#print(supply_df.head())