In [236]:
import pandas as pd
import numpy as np
import datetime

In [237]:
#Create Filepath and read csv
filepath = r"C:/Users/Elissa/Desktop/CAISO-ALL-SUPPLY-DATA1.csv"

In [238]:
#Read the csv file 
supply_df = pd.read_csv(filepath)
print(supply_df.head(-1))

x = supply_df.loc[(supply_df['Date'] == '12/31/2018') & (supply_df['Time'] == '23:55:00')]
print(x.index)

y = supply_df.loc[(supply_df['Date'] == '12/31/2019') & (supply_df['Time'] == '23:55:00')]
print(y.index)

z = supply_df.loc[(supply_df['Date'] == '12/31/2020') & (supply_df['Time'] == '23:55:00')]
print(z.index)

        Renewables  Natural gas  Large hydro  Imports  Batteries  Nuclear  \
0           2005.0       8736.0       3428.0   7108.0       -8.0   1616.0
1           2005.0       8722.0       3425.0   7029.0        1.0   1618.0
2           2048.0       8739.0       3464.0   6873.0        6.0   1619.0
3           1979.0       8696.0       3470.0   6744.0      -14.0   1619.0
4           1980.0       8605.0       3454.0   6757.0      -38.0   1616.0
...            ...          ...          ...      ...        ...      ...
412950      3406.0       7736.0       1489.0   8997.0       45.0   2020.0
412951      3409.0       7779.0       1493.0   8868.0       12.0   2020.0
412952      3391.0       7777.0       1503.0   8761.0      -21.0   2020.0
412953      3363.0       7703.0       1475.0   8760.0      -31.0   2020.0
412954      3316.0       7665.0       1449.0   8805.0      -48.0   2019.0

        Coal  Other       Date      Time         DateTime  Unix Timestamp
0       -6.0    0.0  4/10/2018   0:00:00   4/10/2018 0:00      1523318400
1       -6.0    0.0  4/10/2018   0:05:00   4/10/2018 0:05      1523318700
2       -6.0    0.0  4/10/2018   0:10:00   4/10/2018 0:10      1523319000
3       -6.0    0.0  4/10/2018   0:15:00   4/10/2018 0:15      1523319300
4       -6.0    0.0  4/10/2018   0:20:00   4/10/2018 0:20      1523319600
...      ...    ...        ...       ...              ...             ...
412950   8.0    0.0  3/24/2022  23:30:00  3/24/2022 23:30      1648164600
412951   9.0    0.0  3/24/2022  23:35:00  3/24/2022 23:35      1648164900
412952   8.0    0.0  3/24/2022  23:40:00  3/24/2022 23:40      1648165200
412953   8.0    0.0  3/24/2022  23:45:00  3/24/2022 23:45      1648165500
412954   8.0    0.0  3/24/2022  23:50:00  3/24/2022 23:50      1648165800

[412955 rows x 12 columns]
Int64Index([76408], dtype='int64')
Int64Index([181416], dtype='int64')
Int64Index([285661], dtype='int64')

In [239]:
#supply_df= supply_df.drop(["DateTime"],1)

supply_df['Date'] = pd.to_datetime(supply_df['Date'])
#def fun(datetimething):
     #return datetimething.timetuple().tm_yday
#supply_df['Date'] = supply_df['Date'].apply(fun)
#supply_df.head(1300)

baby_df = supply_df['Time'].str.split(":", expand=True)
print(baby_df)

baby_df = baby_df.rename(columns={baby_df.columns[0]: 'Hours'})
baby_df = baby_df.rename(columns={baby_df.columns[1]: 'Minutes'})
baby_df['Year'] = supply_df['Date'].dt.year
baby_df['Year'] = baby_df['Year'].astype(int)
baby_df['Hours'] = baby_df['Hours'].astype(int)
baby_df['Minutes'] = baby_df['Minutes'].astype(int)
baby_df= baby_df.drop([2],1)

baby_df.head(100
)

         0   1   2
0        0  00  00
1        0  05  00
2        0  10  00
3        0  15  00
4        0  20  00
...     ..  ..  ..
412951  23  35  00
412952  23  40  00
412953  23  45  00
412954  23  50  00
412955  23  55  00

[412956 rows x 3 columns]

    Hours  Minutes  Year
0       0        0  2018
1       0        5  2018
2       0       10  2018
3       0       15  2018
4       0       20  2018
..    ...      ...   ...
95      7       55  2018
96      8        0  2018
97      8        5  2018
98      8       10  2018
99      8       15  2018

[100 rows x 3 columns]

In [243]:
for i in range(0,706408):
    xy = 6.23561715
for i in range (706409,181416):
    xy = 8.28180195
for i in range(181416,285661):
    xy = 9.9174234



def f(row):
    if (row['Hours']<=6) & (row['Hours']>=22):
        value = xy    
    else:
        value = 0
    return value




baby_df['DemandMW'] = baby_df.apply(f, axis=1)
baby_df['DemandMW'][10]

0

In [ ]:


#conditions = [
#(baby_df['Year'] ==2018) & (baby_df['Hours']<=6) & (baby_df['Hours']>=22),
#(baby_df['Year'] ==2019) & (baby_df['Hours']<=6) & (baby_df['Hours']>=22),
#(baby_df['Year'] ==2020) & (baby_df['Hours']<=6) & (baby_df['Hours']>=22)]

#dmd_Values = [6.2356, 8.2818, 9.9174]

#baby_df['DemandMW'] = np.select(conditions,dmd_Values)

In [241]:
baby_df

        Hours  Minutes  Year  DemandMW
0           0        0  2018         0
1           0        5  2018         0
2           0       10  2018         0
3           0       15  2018         0
4           0       20  2018         0
...       ...      ...   ...       ...
412951     23       35  2022         0
412952     23       40  2022         0
412953     23       45  2022         0
412954     23       50  2022         0
412955     23       55  2022         0

[412956 rows x 4 columns]

In [ ]:
#supply_df.loc[0:76408,('DemandMW')]=14.24 
#supply_df.loc[76409:181416,('DemandMW')]=18.92
#supply_df.loc[181417:285661,('DemandMW')]=22.65

#print(supply_df.head())